[submodule "beepboop"]
	path = beepboop
	url = https://github.com/devnill/beepboop
[submodule "moodring"]
	path = moodring
	url = https://github.com/devnill/moodring
[submodule "ideate"]
	path = ideate
	url = https://github.com/devnill/ideate
[submodule "outpost"]
	path = outpost
	url = https://github.com/devnill/outpost
